body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Background Image */
body {
    background-image: url('logo.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* Centered Input Boxes */
form {
    max-width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.form-group {
    text-align: center;
    margin-bottom: 20px;
}

/* Background and Styling for Input Fields */
input[type="text"],
input[type="email"] {
    width: 89%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

/* Customize the Submit Button */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #0056b3;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    align-items: center;

}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
}
.navbar a:hover {
    background-color: #555;
}



.form-txt{
    max-width: auto;
    background-color: rgba(51, 16, 248, 0.4);
    padding: 8px;
    border-radius: 10px;
    font-size: small;
    display: inline-block;


}

h1 {
    margin-bottom: 20px;
}

.issue-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.issue-container > .issue-box:nth-child(4),
.issue-container > .issue-box:nth-child(5),
.issue-container > .issue-box:nth-child(6) {
    margin-top: 20px;
}

/* Add margin between the second and third rows of boxes */
.issue-container > .issue-box:nth-child(7),
.issue-container > .issue-box:nth-child(8),
.issue-container > .issue-box:nth-child(9) {
    margin-top: 20px;
}


.red-box {
    background-color: #FF5733;
    color: #FFF;
    border-radius: 10px;
}

.yellow-box {
    background-color: #FFC300;
    border-radius: 10px;
}

.blue-box {
    background-color: #33B5E5;
    color: hwb(0 100% 0%);
    border-radius: 10px;
}

.issue-label {
    font-size: 18px;
    font-weight: bold;
    
}

.description {
    width: 80%;
    margin-top: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    border-radius: 10px;
}

.action-button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #555;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
